[Unit]
Description=uWSGI Container Server for Flask Todo
After=network.target

[Service]
User=ec2-user
Group=nginx
WorkingDirectory=/home/ec2-user/analysis_reports_server
Environment="PATH=/home/ec2-user/analysis_reports_server/env/bin"
ExecStart=/home/ec2-user/analysis_reports_server/env/bin/uwsgi --ini myapp.ini

[Install]
WantedBy=multi-user.target
